In [1]:
## functions
def my_func(num):
    return(num)

In [4]:
#my_func(5)
x=my_func(5)
x

5

In [26]:
def func(name="zebra"):
    print('hello'+ name)

In [22]:
func()

hellozebra

In [31]:
def square(num):
    return(num**2)

In [32]:
square(2)

4

In [29]:
seq=[1,2,3,4]

In [31]:
#def times2(i):
    #for i in range(0,5):
    #print(i, end="")
    #return i*2
def times2(var):
    return(var**2)

In [34]:
times2(4)

16

In [2]:
#Syntax:range(start, stop, step)
for i in range(0,5):
    print(i, end="")

01234

In [35]:
times2(2)

4

In [33]:
square(2)

4

In [ ]:
## lambda function

In [3]:
def square(var):
    return(var**2)

In [4]:
square(4)

16

In [6]:
# lambda() replaces the def and return instance  
lambda var: (var**2)

In [8]:
## you can also store the lambda value
output =lambda var:var**2

In [10]:
output(4)

16

In [1]:
seq=[2,3,6,8]
list(map(lambda num:num*3, seq))

[6, 9, 18, 24]

In [49]:
## filter ()
## similar to map() except filters out and returns Boolean value 
## should return only even no. 
list(filter(lambda num:num%2==0, seq))

TypeError: 'list' object is not callable

In [50]:
## methods
## methods are meant to give required results
# ex: .upper/ .lower/ .split

s= "my name is Antony godzavis"
s.upper

In [51]:
s.upper()

'MY NAME IS ANTONY GODZAVIS'

In [52]:
## Tuple unpacking
x= [(1,2),(3,4),(5,6)]
x

[(1, 2), (3, 4), (5, 6)]

In [54]:
x[0][1]

2

In [56]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [57]:
 #unpacking
for (a,b) in x:
    print(b)

2
4
6

In [58]:
for (a,b) in x:
    print(a)

1
3
5

In [59]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [60]:
planet= "earth"
diameter= 12742
## to print   The earth diamemeter is 12742 kilometeres uinsg .format{}

In [62]:
print("the diameter of {} is {} kilometer".format(planet,diameter))

the diameter of earth is 12742 kilometer

In [5]:
## 7 to the power 4
def power(x):
    x*4

In [6]:
power(7)

In [7]:
#into list
s= "Hi my name Joe"
s

'Hi my name Joe'

In [8]:
#split into list
s.split()

['Hi', 'my', 'name', 'Joe']

In [12]:
## check of a word
seq=['soup', 'cat','owl','snake', 'cash', 'sqash']

list(filter(lambda word: word[2]==('s'), seq))

['cash']